[Unit]
Description=awww Daemon

[Service]
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/run/current-system/sw/bin/awww-daemon
Restart=always


[Install]
WantedBy=default.target
